@font-face {
  font-family: "SF Compact Display";
  src: url("./fonts/SFCompactDisplay-Medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("./fonts/SFCompactDisplay-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
:where(p:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-blue: #1DA1F2;
  --color-black: #0F1419;
  --color-grey: #5B7083;
  --color-white: #FFFFFF;
  --color-light-grey: #EBEEF0;
  --color-red: #F4245E;

  --border-radius: 99px;
  --border: 1px solid var(--color-blue);

  --font-family-base: 'SF Compact Display', sans-serif;

  --transition-duration: 0.2s;

  --border_grey: 1px solid var(--color-light-grey);
}

body {
  min-width: 1225px;
  font-family: var(--font-family-base), sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  color: var(--color-black);
  background: var(--color-white);
  display: grid;
  grid-template-columns: 275px 630px 350px;
  padding-left: 88px;
  letter-spacing: -0.24px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: default;
}

.button:hover {
  background: var(--color-grey);
  transition-duration: 0.2s;
}

.fill_big_button {
  padding-inline: 93px;
  padding-block: 15px;
  margin-left: 10px;
  border: none;
  width: 228px;
  height: 49px;
  border-radius: var(--border-radius);
  background-color: var(--color-blue);
  color: var(--color-white);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
}

.subName {
  color: var(--color-grey);
}

.left_aside {
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 53px 480px auto;
}

.left_aside-header {
  margin-left: 20px;
  margin-block: 12px;
}

.left_aside-header-logo {
  color: var(--color-blue);
  /*color: var(--color-blue);*/
}

.left_aside-menu-item {
  display: flex;
  align-items: center;
}

.left_aside-menu-item.is-current {
  color: var(--color-blue);
}

.left_aside-menu-icon {
  margin-inline: 20px;
}

.left_aside-menu-item:not(.is-current):hover {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
}

.left_aside-menu-button {
  margin-top: 15px;
}

.left_aside-mini_profile {
  display: grid;
  grid-template-columns: 39px auto 33px;
  align-self: end;
  align-items: center;
}

.left_aside_mini_profile-name_subName {
  display: grid;
  grid-template-rows: 19px 19px;
  margin-left: 10px;
  margin-top: 11px;
  margin-bottom: 20px;
}

.left_aside_mini_profile-button {
  position: relative;
  background: transparent;
  border: none;
  width: 33px;
  aspect-ratio: 1;
  margin-bottom: 23px;
}

.main {
  margin-right: 30px;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  position: relative;
  border: var(--border_grey);
  border-top: none;
  height: 54px;
  align-content: center;
}

.main-icon {
  height: 24px;
  aspect-ratio: 1;
  position: absolute;
  right: 15px;
  bottom: 15px;
  color : var(--color-blue);
}

.main-new_post {
  display: grid;
  grid-template-columns: 50px auto;
  height: 118px;
  padding: 10px;
  border: var(--border_grey);
}

.new_post-avatar {
  border-radius: 50%;
}

.new_post-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: relative;
}

.new_post-form-main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-left: 12px;
}

.new_post-form-main-input {
  border: none;
  font-size: 20px;
}

.new_post-form-main-input:focus {
  outline: none;
}

.new_post-form-main-icons-list {
  display: grid;
  grid-template-columns: repeat(5, 24px);
  column-gap: 15px;
  color: var(--color-blue);
}

.new_post-form-button {
  color: var(--color-white);
  background: var(--color-blue);
  width: 77px;
  height: 40px;
  border-radius: var(--border-radius);
  border: none;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.posts-divider {
  background: var(--color-light-grey);
  height: 10px;
  border: 1px solid #d2cece;
}

.posts-post {
  border: var(--border_grey);
  display: grid;
  grid-template-columns: 50px 510px;
  gap: 10px;
  padding: 10px 15px;
}

.posts-post-main_post {
  display: grid;
  grid-template-rows: repeat(5, auto);
}

.posts-post-main_post-name_subname {
  position: relative;
  display: flex;
  column-gap: 4px;
}

.post-subName {
  color: var(--color-grey);
}

.post-divider {
  position: relative;
  top: -3px;
  align-self: center;
  color: var(--color-grey);
}

.post-time {
  color: var(--color-grey);
}

.posts-post-main_post-content {
  margin-top: 4px;
  margin-bottom: 10px;
}

.posts-post-main_post-image {
  border-radius: 16px;
}

.posts-post-main_post-statistic {
  width: 510px;
  display: flex;
  align-items: center;
  gap: 86px;
  padding-right: 86px;
}

.statistic-comment {
  align-items: center;
}
.posts-post-main_post-statistic {
  margin-block: 14px;
  color: var(--color-grey);
}

.statistic-comment {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}
.statistic-retweet {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}.statistic-like {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  color: var(--color-red);
}

 .statistic-share {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 10px;
 }

 .posts-post-main_post-more {
   color: var(--color-blue);
 }

 .right_aside {
   position: sticky;
   top: 0;
   max-height: 100vh;
   display: grid;
   grid-template-rows: 40px 458px 234px 38px ;
   padding-top: 10px;
   padding-bottom: 74px;
   row-gap: 15px;
 }

 .right_aside-form_search-search_label {
   position: relative;
 }

 .right_aside-form_search-content {
   display: grid;
   grid-template-columns: 18px auto;
   gap: 15px;
 }

 .right_aside-form_search-search_input {
   background-color: var(--color-light-grey);
   align-self: center;
   border-radius: var(--border-radius);
   border: none;
   width: 348px;
   padding-left: 50px;
   padding-block: 10px;
 }

 .right_aside-form_search-search_input:focus {
   outline: none;
   border: 2px solid var(--color-grey);
 }

 .right_aside-form_search-search_icon {
   width: 17px;
   height: 17px;
   color: var(--color-grey);
   position: absolute;
   left: 25px;
   top: 50%;
   transform: translate(-50%, -50%);
 }

 .container {
   /*width: 350px;*/
   /*height: 458px;*/
   padding-inline: 15px;
   padding-top: 12px;
   padding-bottom: 15px;
   background-color: var(--color-light-grey);
   border-radius: 16px;
 }

 .right_aside-news-header h2 {
   margin-top: 0;
   margin-bottom: 10px;
 }

 .right_aside-block {
   display: flex;
   column-gap: 15px;
   align-items: center;
 }

 .right_aside-block-img {
   display: block; /* прибирає пробіли під зображенням */
   width: auto;
   height: auto;
   max-width: none;
   max-height: none;
 }




